*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 700px;
    width: 100%;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;
}
.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}